<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Parts</title>
</head>
<body>
    <h1>Update Items</h1>
<form action="/inventory/parts/update" method="post">
    <input type="hidden" name="part_id" value="<%= item.id %>">
  
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= item.name %>" required>
  
    <label for="description">Description:</label>
    <textarea id="description" name="description"><%= item.description %></textarea>
  
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="<%= item.price %>" step="0.01" required>
  
    <button type="submit">Update Part</button>
  </form>
  
      
</body>
</html>